* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ghost-white: #f0eff4;
  --mindaro: #dcf763;
  --eggplant: #684551;
  --zomp: #43aa8b;
  --dark-slate-gray: #254441;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* || General styles */

body {
  font-weight: 300;
  background-color: var(--ghost-white);
  position: relative;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
}

h2 {
  font-weight: 600;

  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

/* || Utilities */

.underline {
  position: relative;
  z-index: 2;
  width: max-content;
}

.underline::before {
  content: "";
  position: absolute;
  background: var(--mindaro);
  opacity: 0.8;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: skew(-33deg);
  z-index: -1;
  height: 0.7rem;
}

.italic {
  font-style: italic;
  font-weight: 600;
}

/* || Typography */

/* || Header and Main Navigation */

header {
  background-color: var(--zomp);
  padding: 1rem 0;
}

.dektop {
  padding: 0 3rem;
}

.mobile {
  display: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: var(--ghost-white);
  font-weight: 500;
  font-size: 1.5rem;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: var(--dark-slate-gray);
}

.nav-toggler-label {
  display: none;
}

.logo {
  height: 4rem;
}

.scroll-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.scroll-container:before {
  content: "";
  display: block;
  height: 120vh;
  pointer-events: none;
}

.scroll-container div {
  position: sticky;
  top: 87vh;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--zomp);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

/* || Hero */

.hero {
  background-color: var(--zomp);
  color: var(--ghost-white);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem;
}

.hero-images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  gap: 0.3125rem;
}

.hero-images img {
  width: 100%;
  height: 100%;
}

.hero-images li:first-of-type {
  grid-area: img1;
}

.hero-images li img:last-of-type {
  grid-area: img3;
}

.hero-images li:nth-of-type(1) img:first-child {
  border-radius: 1.25rem 0 0 1.25rem;
}

.hero-images li:nth-of-type(2) img:first-child {
  border-radius: 0 1.25rem 0 0;
}

.hero-images li:nth-of-type(3) img:first-child {
  border-radius: 0 0 1.25rem 0;
}

.hero li:last-child {
  color: var(--zomp);
  font-size: 0.75rem;
  font-weight: 500;
  grid-area: img1;
  align-self: end;
  padding: 0.6rem 1.2rem;
}

.hero .underline::before {
  bottom: 0.3rem;
}

.hero h3 {
  margin: 2rem 0;
}

/* || Features Products */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column-reverse;
  margin-top: 2rem;
  padding: 2rem;
  gap: 1rem;
}

.slider {
  position: relative;
  display: block;
  width: 100%;
  height: 29rem;
  overflow: hidden;
  border-radius: 1.25rem;
  z-index: 1;
}

.slider:before,
.slider:after {
  content: "<";
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: absolute;
  top: 0;
  z-index: 2;
  color: var(--ghost-white);
  pointer-events: none;
  height: 20%;
  background: linear-gradient(360deg, var(--zomp), transparent);
  opacity: 0.6;
  width: 3rem;
  padding: 60% 0.5rem;
}

.slider:after {
  content: ">";
  left: auto;
  right: 0;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
input {
  appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateX(100%);
  z-index: 1;
}

input:focus {
  outline: none;
}

input:after {
  content: " ";
  position: absolute;
  top: 1rem;
  left: 1rem;
}

input:not(checked):before {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  left: -100%;
}

input:checked {
  transform: translateX(0);
  z-index: 0;
}

input:checked + input:before {
  left: -3rem;
}

input:checked + input ~ input:before {
  display: none;
}

.products .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10%;
  color: var(--dark-slate-gray);
}

/* || Recipes */

.recipes {
  background-color: var(--eggplant);
  margin-top: -9rem;
  color: var(--ghost-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: auto;
  padding: 2rem;
}

.recipes .content {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.recipe-image img {
  width: 100%;
  border-radius: 1.25rem;
}

.recipes .extra {
  display: none;
}

.recipes .underline::before {
  background: var(--zomp);
}
.recipe-image p {
  font-size: 1rem;
  font-weight: 500;
}
/* || Stores */

#stores {
  height: auto;
  margin-bottom: -10rem;
}

#stores::before {
  content: "";
  background-image: url(resources/pin.svg);
  display: block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  top: 31rem;
  right: -0.5rem;
  height: 6rem;
}

#stores h2 {
  color: var(--dark-slate-gray);
  margin-left: 2rem;
}

.stores {
  color: var(--dark-slate-gray);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 0;
  flex-direction: column;
  padding: 2rem;
}

.stores span {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
}

.stores p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.store {
  background-color: var(--mindaro);
  padding: 5rem 2rem 1rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.mobile-stores {
  display: flex;
  flex-direction: column-reverse;
}

.hours {
  background-color: var(--dark-slate-gray);
  color: var(--ghost-white);
  border-radius: 10px;
  position: relative;
  margin: 0 2rem;
  padding: 3.125rem;
}

.hours h3 {
  font-weight: 700;
  margin-bottom: 1.625rem;
}

.time {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.625rem;
}

/* || About Us */

.about {
  padding: 8rem 2rem 2rem;
  background-color: var(--zomp);
  color: var(--dark-slate-gray);
}

.about-image {
  width: 100%;
  border-radius: 1.25rem;
}

.about .content {
  display: flex;
  align-items: center;
  color: var(--dark-slate-gray);
  gap: 0;
  flex-direction: column-reverse;
}

.about .content div {
  max-width: 100%;
  padding: 2rem;
}

blockquote {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 3.1875rem;
  margin: 3rem 0;
}

.caption {
  color: var(--mindaro);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.about .extra {
  position: relative;
  top: 19rem;
  left: 3rem;
  width: 10%;
}

.thanks p:last-child {
  margin: 2rem 0;
}

/* || Footer */

footer {
  background-color: var(--dark-slate-gray);
  color: var(--ghost-white);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
}

footer p {
  font-size: 1rem;
}

/* || Media Queries */

@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* Small devices */

@media screen and (max-width: 480px) {
  /* nav {
    position: absolute;
    top: 90%;
    right: 0;
    transform: scale(1, 0);
    transform-origin: top;
  }

  nav ul {
    all: unset;
  }

  .nav-toggler {
    display: none;
  }

  .nav-toggler-label {
    position: absolute;
    top: 2rem;
    right: 2.2rem;
    display: flex;
    align-items: center;
  }

  .nav-toggler-label span,
  .nav-toggler-label span::before,
  .nav-toggler-label span::after {
    display: block;
    background: var(--ghost-white);
    width: 1rem;
    height: 2px;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggler-label span::before,
  .nav-toggler-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggler-label span::before {
    bottom: 0.4rem;
  }

  .nav-toggler-label span::after {
    top: 0.4rem;
  }

  .nav-toggler:checked ~ nav {
    transform: scale(1, 1);
    transition: transform 100ms ease;
  }

  .nav-toggler:checked ~ nav a {
    opacity: 1;
    transition: opacity 100ms ease 150ms;
  }

  .nav-toggler:checked ~ .nav-toggler-label span::before {
    display: none;
  }

  .nav-toggler:checked ~ .nav-toggler-label span::after {
    transform: translate(0, -0.4rem) rotate(90deg);
  }

  .nav-toggler:checked ~ .nav-toggler-label span {
    transform: rotate(135deg);
  } */
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 6.25rem;
    line-height: 9rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 5rem;
    width: max-content;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .hero {
    height: 100vh;
    align-items: center;
    padding: 0 0 8rem 8.6818181818rem;
    flex-direction: row;
  }

  .hero h3 {
    margin: 0;
  }

  .hero .underline::before {
    bottom: 1.5rem;
  }

  .underline::before {
    height: 1rem;
  }

  .hero-images {
    width: 60%;
  }

  .hero-images li:first-of-type img:first-child {
    border-radius: 1.25rem 0 0 1.25rem;
  }

  .hero-images li:nth-of-type(2) img:first-child,
  .hero-images li:nth-of-type(3) img:first-child {
    border-radius: 0;
  }

  .hero li:last-child {
    font-size: 1.75rem;
  }

  .products {
    flex-direction: row;
    height: 80vh;
    margin-top: -9rem;
  }

  .products .content {
    width: 40%;
  }

  .slider {
    width: 28rem;
    height: 40rem;
  }

  .recipes {
    padding: 0;
    gap: 6.25rem;
    height: 80vh;
    flex-direction: row;
  }

  .recipes .content {
    margin-top: 0;
  }

  .recipe-image img {
    border-radius: 1.25rem 0 0 1.25rem;
  }

  .recipes .extra {
    position: relative;
    top: 19rem;
    left: 3rem;
    display: block;
  }

  #stores {
    height: 100vh;
    margin-bottom: -25rem;
  }

  #stores h2 {
    margin-left: 8.6818181818rem;
  }

  #stores::before {
    top: 10rem;
    right: -7rem;
    height: 5rem;
  }

  .mobile-stores {
    display: block;
  }

  .stores {
    flex-direction: row;
    padding: 0 8.6818181818rem;
    gap: 0;
    margin: 0;
  }

  .stores span,
  .stores p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .store {
    padding: 8rem 2rem 1rem;
  }

  .hours {
    padding: 3rem 7.5rem;
    margin: 3rem 8.6818181818rem;
  }

  .time {
    flex-direction: row;
    gap: 0;
  }

  .about {
    padding: 12rem 8.6818181818rem 3rem;
  }

  .about-image {
    width: 50%;
  }

  .about .content {
    flex-direction: row;
    gap: 5rem;
  }

  .about .content div {
    max-width: 40%;
  }

  blockquote {
    font-size: 3rem;
    line-height: 4.5rem;
    margin: 9rem 0 4rem;
  }

  .caption {
    font-size: 2rem;
    line-height: 3rem;
  }

  footer {
    flex-direction: row;
    padding: 1rem 8rem;
  }
}
