* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ghost-white: #f0eff4;
  --mindaro: #dcf763;
  --eggplant: #684551;
  --zomp: #43aa8b;
  --dark-slate-gray: #254441;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* || General styles */

body {
  font-weight: 300;
  background-color: var(--ghost-white);
}

header {
  background-color: var(--zomp);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6.25rem;
  font-weight: 500;
  line-height: 9rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

ul {
  list-style: none;
}

/* || Utilities */

.underline {
  position: relative;
  z-index: 2;
}

.underline::before {
  content: "";
  position: absolute;
  background: var(--mindaro);
  opacity: 0.8;
  left: 0;
  bottom: 1.5rem;
  width: 100%;
  transform: skew(-33deg);
  height: 1rem;
  z-index: -1;
}

.italic {
  font-style: italic;
  font-weight: 600;
}

/* || Typography */

/* || Header and Main Navigation */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
}

nav a {
  text-decoration: none;
  color: var(--ghost-white);
  font-weight: 500;
  font-size: 1.5rem;
}

nav a:hover,
nav a:focus {
  color: var(--dark-slate-gray);
}

.logo {
  height: 4rem;
}

/* || Hero */

.hero {
  background-color: var(--zomp);
  color: var(--ghost-white);
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 0 8rem 8.6818181818rem;
}

.hero-images {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  gap: 0.3125rem;
}

.hero-images img {
  width: 100%;
  height: 100%;
}

.hero-images li:first-of-type {
  grid-area: img1;
}

.hero-images li img:last-of-type {
  grid-area: img3;
}

.hero-images li:first-of-type img:first-child {
  border-radius: 1.25rem 0 0 1.25rem;
}

.hero li:last-child {
  color: var(--zomp);
  font-size: 1.75rem;
  font-weight: 500;
  grid-area: img1;
  align-self: end;
  padding: 0.6rem 1.2rem;
}

/* || Features Products */

/* || Recipes */

/* || Stores */

/* || About Us */

/* || Footer */
